.wel{
        background: url("../../skin/i/welcom.png") no-repeat ;
        background-size: 100%;
        width: 375px;
        height: 667px;/*
        position: absolute;
        top:12px;
        left: 30px;*/
}