<link rel="stylesheet" href="skin/css/mine.css"/>
<header>
    我的
</header>
<article>
    <div class="list">
        <ul>
            <li class="clearfix">
                <div class="weixin"></div>
                <div>
                    <h2>账户</h2>
                    <p>资产、贷款、信用卡账单，一览无余</p>
                </div>
                <div class="nomorl"></div>
            </li>
            <li class="clearfix">
                <div class="zhifu"></div>
                <div>
                    <h2>日历</h2>
                    <p>提醒事项和备忘录</p>
                </div>
                <div class="nomorl"></div>
            </li>
            <li class="clearfix">
                <div class="love"></div>
                <div>
                    <h2>最爱</h2>
                    <p>常用操作自己定义</p>
                </div>
                <div class="nomorl"></div>
            </li>
        </ul>
    </div>
    <div class="list">
        <ul>
            <li class="clearfix">
                <div class="card"></div>
                <div>
                    <h2>生活缴费</h2>
                    <p>水费、电费、燃气费、话费</p>
                </div>
                <div class="nomorl"></div>
            </li>
            <li class="clearfix">
                <div class="shouc"></div>
                <div>
                    <h2>我的收藏</h2>
                    <p>收藏美食、资讯、店铺等</p>
                </div>
                <div class="nomorl"></div>
            </li>
            <li class="clearfix">
                <div class="history"></div>
                <div>
                    <h2>历史订单查询</h2>
                    <p>查询我的过往订单</p>
                </div>
                <div class="nomorl"></div>
            </li>
        </ul>
    </div>
    <div class="list">
        <ul>
            <li class="clearfix">
                <div class="mine"></div>
                <div>
                    <h2>多支付手段管理</h2>
                    <p>轻松管理名下各银行卡及其他支付方式</p>
                </div>
                <div class="nomorl"></div>
            </li>
        </ul>
    </div>
</article>