<link rel="stylesheet" href="skin/css/pay.css"/>
<header>
    <a href="#managingmoneydetail/{{netvalue}}&{{findate}}&{{prdname}}" class="back"></a>
    支付订单
</header>
<article>
    <div class="bg">
    <div class="detail">
        <p>支付剩余时间</p>
        <div class="time">
            <span>1</span>
            <span>4</span>
            <span class="point">:</span>
            <span>3</span>
            <span>4</span>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="det-wrap">
        <div class="det-l">
            <h2>{{prdname}}</h2>
            <p>起息时间 <span class="f-black">2016-07-11</span> </p>
            <p>投资金额  <b>10,000.00</b></p>
        </div>
        <div class="det-l mr">
            <p>每天盈利 <b>{{netvalue}} <i>%</i></b></p>
        </div>
        <div class="clearfix"></div>
    </div>
     </div>
    <div class="list">
        <ul>
            <li class="clearfix">
                <div class="weixin"></div>
                <div>
                    <h2>微信支付</h2>
                    <p>推荐安装微信5.0及以上的版本使用</p>
                </div>
                <div class="nomorl active"></div>
            </li>
            <li class="clearfix">
                <div class="zhifu"></div>
                <div>
                    <h2>微信支付</h2>
                    <p>推荐安装微信5.0及以上的版本使用</p>
                </div>
                <div class="nomorl"></div>
            </li>
        </ul>
    </div>
    <div class="footer-m">
        <a href="" class="buy-btn">立即购买</a>
    </div>
</article>