<link rel="stylesheet" href="skin/css/fogert.css"/>
<header>
        备忘
</header>
<nav>
    <ul>
        <li class="active"><span>今日日程</span><i>1</i></li>
        <li><span>近日提醒</span> <i>3</i></li>
        <li class="add-time"><span class="add-bg"><i class="add-icon"></i><span class="add-ad">自定义时间日程</span></span></li>
    </ul>
</nav>
<article>
    <div class="time-auto">
        <div class="line">
            <ul>
                <li><i></i><p>00:00</p></li>
                <li><i></i><p>01:00</p></li>
                <li><i></i><p>02:00</p></li>
                <li><i></i><p>03:00</p></li>
                <li><i></i><p>04:00</p></li>
                <li><i></i><p>05:00</p></li>
                <li><i></i><p>06:00</p></li>
                <li><i></i><p>07:00</p></li>
                <li><i></i><p>08:00 送孩子上学</p></li>
                <li><i></i><p>09:00</p></li>
                <li class="active"><i></i><p>10:00 高管例会</p></li>
                <li><i></i><p>11:00</p></li>
                <li><i></i><p>12:00</p></li>
                <li><i></i><p>13:00</p></li>
                <li><i></i><p>14:00</p></li>
                <li><i></i><p>15:00</p></li>
                <li><i></i><p>16:00</p></li>
                <li><i></i><p>17:00</p></li>
                <li><i></i><p>18:00</p></li>
                <li><i></i><p>19:00</p></li>
                <li><i></i><p>20:00</p></li>
                <li><i></i><p>21:00</p></li>
                <li><i></i><p>22:00</p></li>
                <li><i></i><p>23:00</p></li>
            </ul>
        </div>
    </div>
    <div class="datatime">
        <img src="images/datatime.png" alt="" width="345" height="290"/>
    </div>
</article>